
  .filmItem{
    border: 2px solid #6495ED;
    border-radius: 15px;
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color:#C0D4F8;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  .heart {
    font-size: 25px;
    color:#ED6495;
  }
  .heart-des {
    font-size: 25px;
    color:#aaa;
  }
  .title{
    cursor: pointer;
    font-weight: bold;
    color:#ED6495;
  }
