  .film-item{
    border: 2px solid #6495ED;
    border-radius: 15px;
    padding: 20px 20px 0 0;
    margin: 10px;
    background-color:#C0D4F8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .film-body{
    display: flex;
    gap: 15px;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 7;
    margin-left: 20px;
  }
  .heart {
    font-size: 25px;
    color:#ED6495;
  }
  .heart-des {
    font-size: 25px;
    color:#aaa;
  }
  .title{
    cursor: pointer;
    font-weight: bold;
    color:#ED6495;
  }
  .fixed-button{
    grid-row-start: 1;
    grid-column-start: 6;
  }
