<div *ngIf="Films.length > 0 ; then listBlock else noFavoriteBlock"></div>
<ng-template #listBlock>
    <h1 class="mainTitle">Your favorites are here!</h1>
    <div class="filmList">
    <film-item
        *ngFor="let film of Films"
        [Film]="film"></film-item>
    </div>
</ng-template>
<ng-template #noFavoriteBlock>
  <div class="container">
    <div class="row container">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 container">
        <h3>It seems you don't have favorite movies yet :(</h3>
        <button class="custom-button" mat-raised-button (click)="showFilms()">Let's find a movie</button>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</ng-template>
